header.top{
  max-width: 80rem;
  width: 100%;
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  

  img {
    width: 2rem;
    height: 2rem;
    transition: transform 500ms;
  }

  img[src*="logo"]:hover {
    transform: rotate(90deg);
  }

   img[src*="shopping-bag"]:hover {
    transform: rotate(-30deg);
  }
  a{
    position: relative;
  }
  a span{
    font: 500 .75rem/1.3 "Inter", sans-serif;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background-color: var(--snitap-sun);
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
header a:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--ff-base);
  font-size: 1.2rem;
  color: #000;
 
   border-radius: 999px; /* faz um fundo "pílula" arredondado */
  padding: 0.5rem 1rem;  /* adiciona espaço interno */
}